
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import '~boxicons/css/boxicons.min.css';


.bg-primary-blue{
    background-color: #0466C8;
}

.bg-secondary-gray{
    background-color: #33415C;
}

.bg-primary-gray{
    background-color: #DDDDDD;
}

.txt-gray-fg{
    color: #5D5D81;
}

.font-tittle{
    font-family: 'Passion One', sans-serif;
}