<section class="full-width">
    <div class="container">
        <div class="row d-flex align-items-center text-center" id="title-section">
            <div class="col-12 col-lg-6 p-5">
                <h2 class="title txt-gray-fg fnt-title">DESARROLLADOR DE SOFTWARE</h2>
                <h1 class="name fnt-title my-4">J. Carlos Zepeda</h1>
                <button class="btn btn-contact-me bg-primary-blue text-center">
                    Contactame 
                    <i class='bx bxs-right-arrow-circle mt-1'></i>
                </button>
            </div>
            <div class="col-12 col-lg-6 text-center svg-container">
                <img id="img-progra" src="../../../assets/img/progra-removebg-preview.webp" alt="">
                <img class="svg position-static" src="../../../assets/svg/principal-blob.svg" alt="">
            </div>
        </div>
    </div>
</section>