<section class="full-width contenedor bg-primary-blue">
    <div class="container py-5">
        <div class="row">
            <h3 class="text-lg-end my-3" id="txt_Perfil">PERFIL</h3>
            <div class="col-12 col-lg-4 d-flex justify-content-center">
                <img class="img-perfil" src="../../../assets/img/FotoCurriculum.png" alt="">
            </div>
            <div class="col-12 col-lg-8 bg-primary-blue">
                <p class="text-white text_Perfil mx-4 mx-lg-0  mt-4 mt-lg-0">{{textPerfil}}</p>
                <a class="btn btn-github  d-flex justify-content-center align-items-center  mb-4" href="">
                    <i class='bx bxl-github bx-sm mx-1'></i> Github
                </a>
            </div>
        </div>
    </div>
</section>
