<section class="full-width contenedor bg-primary-blue">
    <div class="container py-5">
        <div class="row">
            <h3 class="text-lg-end mb-3" id="txt_Perfil">PERFIL</h3>
            <div class="col-12 col-lg-4 d-flex justify-content-center">
                <img class="img-perfil" src="../../../assets/img/FotoCurriculum.png" alt="">
            </div>
            <div class="col-12 col-lg-8 bg-primary-blue">
                <p class="text-white text_Perfil mx-5">{{textPerfil}}</p>
            </div>
        </div>
    </div>
</section>
